
    <div class="container">
        <h2>Nueva calificación</h2>
        <form [formGroup]="calificacionesForm" (ngSubmit)="guardar()" class="mb-5">
            <div class="form-group">
                <label>Alumno</label>
                <select name="id_t_usuarios" id="id_t_usuarios"  formControlName="id_t_usuarios" class="form-control">
                    <option value="">- Seleccione un elemento -</option>
                    <option value="{{item.id_t_usuarios}}" *ngFor="let item of alumno">{{item.nombre}} {{item.ap_paterno}} {{item.ap_materno}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Materia</label>
                <select name="id_t_materias" id="id_t_materias"  formControlName="id_t_materias" class="form-control">
                    <option value="">- Seleccione un elemento -</option>
                    <option value="{{item.id_t_materias}}" *ngFor="let item of materia">{{item.nombre}}</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label>Calificación</label>
                <input type="number" step="0.1" min="0" max="10" formControlName="calificacion" class="form-control" placeholder="De 0 a 10">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="calificacionesForm.invalid">Guardar</button>
        </form>
        <h2>Lista</h2><button type="button" class="btn btn-link float-end" (ngClic)="nuevo()">Crear</button>
        <table class="table table-hover table-bordered border-seconday">
            <thead class="table-dark">
              <tr>
                <th>ID Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Materia</th>
                <th>Calificación</th>
                <th>Fecha Registro</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of calificaciones">
                <td>{{ item.id_t_usuarios }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
                <td>{{ item.materia }}</td>
                <td>{{ item.calificacion }}</td>
                <td>{{ item.fecha_registro }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acción
                        </button>
                        <ul class="dropdown-menu">
                          <li><button class="dropdown-item" type="button" (click)="editar(item)">Editar</button></li>
                          <li><button class="dropdown-item" type="button" (click)="eliminar(item)">Eliminar</button></li>
                        </ul>
                      </div>
                </td>
              </tr>
              <tr>
                <td colspan="5"></td>
                <td class="text-end">Promedio</td>
                <td>{{ promedio }}</td>
              </tr>
            </tbody>
          </table>
    </div>